// COLOR
$blue: #4e8bf5;
$grey: #464646;
$grey-light: #a1a1a1;
$red: #ff1e4f;

// FONT-WEIGHT
$weight-norm: 400;
$weight-bold: 700;
$weight-black: 900;


// RADIUS
$radius-sm: 5px;
$radius-md: 30px;
$radius-round: 50%;


// WIDTH
$width-lg: 1040px;
$width-md: 768px;
$width-sm: 480px;